In [60]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import plotly.graph_objects as go
import plotly.express as px

import plotly.offline as pyo
import plotly.graph_objs as go
import plotly.express as px
import plotly.offline as pyo
import plotly.graph_objs as go

In [61]:
data=pd.read_csv("Temperature_change_Data.csv")
data.shape

(16756, 4)

In [62]:
data.head()

  Country Code    Country Name  year  tem_change
0          AFG     Afghanistan  1961      -0.080
1          ALB         Albania  1961       0.631
2          DZA         Algeria  1961       0.186
3          ASM  American Samoa  1961      -0.014
4          AND         Andorra  1961       0.749

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16756 entries, 0 to 16755
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Code  14042 non-null  object
 1   Country Name  16756 non-null  object
 2   year          16756 non-null  int64
 3   tem_change    14975 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 523.8+ KB

In [64]:
data.describe()

               year    tem_change
count  16756.000000  14975.000000
mean    1990.000000      0.484160
std       17.029895      0.628342
min     1961.000000     -3.252000
25%     1975.000000      0.035000
50%     1990.000000      0.412000
75%     2005.000000      0.882000
max     2019.000000      5.413000

In [65]:
data.columns

Index(['Country Code', 'Country Name', 'year', 'tem_change'], dtype='object')

In [66]:
len(data["Country Code"].unique())

239

In [67]:
len(data["Country Name"].unique())

284

In [68]:
len(data["year"].unique())

59

In [69]:
len(data["tem_change"].unique())

2856

In [70]:
data.columns[data.isna().any()]

Index(['Country Code', 'tem_change'], dtype='object')

In [71]:
data["Country Code"].isna().sum()

2714

In [72]:
data["tem_change"].isna().sum()

1781

In [73]:
data["Country Code"].value_counts()

CYM    59
HKG    59
CIV    59
OMN    59
HTI    59
       ..
GIB    59
DMA    59
MHL    59
NLD    59
IRL    59
Name: Country Code, Length: 238, dtype: int64

In [74]:
data2=data.drop(["Country Code"] ,axis=1)
data2

                                  Country Name  year  tem_change
0                                  Afghanistan  1961      -0.080
1                                      Albania  1961       0.631
2                                      Algeria  1961       0.186
3                               American Samoa  1961      -0.014
4                                      Andorra  1961       0.749
...                                        ...   ...         ...
16751        Low Income Food Deficit Countries  2019       1.244
16752  Net Food Importing Developing Countries  2019       1.412
16753                        Annex I countries  2019       1.627
16754                    Non-Annex I countries  2019       1.361
16755                                     OECD  2019       1.297

[16756 rows x 3 columns]

In [75]:
data2.shape

(16756, 3)

In [76]:
data2.fillna(0 , inplace= True)

In [77]:
data2[data2["tem_change"]== 0]

                 Country Name  year  tem_change
10                    Armenia  1961         0.0
14                 Azerbaijan  1961         0.0
19                    Belarus  1961         0.0
20                    Belgium  1961         0.0
26     Bosnia and Herzegovina  1961         0.0
...                       ...   ...         ...
16691                 Tokelau  2019         0.0
16707                    USSR  2019         0.0
16712             Wake Island  2019         0.0
16715                   Yemen  2019         0.0
16716            Yugoslav SFR  2019         0.0

[1784 rows x 3 columns]

In [78]:
data2["tem_change"].fillna(0 , inplace=True)

In [79]:
data2[data2["tem_change"]==0]

                 Country Name  year  tem_change
10                    Armenia  1961         0.0
14                 Azerbaijan  1961         0.0
19                    Belarus  1961         0.0
20                    Belgium  1961         0.0
26     Bosnia and Herzegovina  1961         0.0
...                       ...   ...         ...
16691                 Tokelau  2019         0.0
16707                    USSR  2019         0.0
16712             Wake Island  2019         0.0
16715                   Yemen  2019         0.0
16716            Yugoslav SFR  2019         0.0

[1784 rows x 3 columns]

In [80]:
data2.isna().sum()

Country Name    0
year            0
tem_change      0
dtype: int64

In [81]:
import matplotlib.pyplot as plt
import seaborn as sns

In [82]:
data2

                                  Country Name  year  tem_change
0                                  Afghanistan  1961      -0.080
1                                      Albania  1961       0.631
2                                      Algeria  1961       0.186
3                               American Samoa  1961      -0.014
4                                      Andorra  1961       0.749
...                                        ...   ...         ...
16751        Low Income Food Deficit Countries  2019       1.244
16752  Net Food Importing Developing Countries  2019       1.412
16753                        Annex I countries  2019       1.627
16754                    Non-Annex I countries  2019       1.361
16755                                     OECD  2019       1.297

[16756 rows x 3 columns]

In [83]:
y=[]
for i in data2.columns:
    y.append(i)

In [84]:
def columns_value_counts():
    if len(y) !=0 :
        x=y.pop(0)
        print(f"the name of this column is :{x}")
        print(data2[x].value_counts())
    
    else: 
        print("the list is empty")

In [85]:
columns_value_counts()

the name of this column is :Country Name
Turks and Caicos Islands                        59
South Georgia and the South Sandwich Islands    59
Mali                                            59
Wake Island                                     59
Canada                                          59
                                                ..
South Sudan                                     59
Montserrat                                      59
Channel Islands                                 59
Lao People's Democratic Republic                59
Finland                                         59
Name: Country Name, Length: 284, dtype: int64

In [86]:
columns_value_counts()

the name of this column is :year
2015    284
2003    284
1991    284
1975    284
2006    284
1990    284
1974    284
2005    284
1989    284
1973    284
2004    284
1988    284
1972    284
2019    284
1987    284
1976    284
1971    284
2018    284
2002    284
1986    284
1970    284
2017    284
2001    284
1985    284
1969    284
2016    284
2000    284
1984    284
2007    284
1992    284
1999    284
1980    284
1983    284
1967    284
2014    284
1998    284
1982    284
1966    284
2013    284
1997    284
1981    284
1965    284
2012    284
1996    284
1964    284
2008    284
2011    284
1995    284
1979    284
1963    284
2010    284
1994    284
1978    284
1962    284
2009    284
1993    284
1977    284
1961    284
1968    284
Name: year, dtype: int64

In [87]:
columns_value_counts()

the name of this column is :tem_change
 0.000    1784
 0.307      20
 0.221      19
 0.130      19
 0.217      18
          ...
-0.617       1
 2.917       1
 1.985       1
-1.068       1
 2.331       1
Name: tem_change, Length: 2855, dtype: int64

In [88]:
s=data2.groupby("year").sum()
s.sort_values(by="tem_change", ascending=False)

      tem_change
year
2016     387.627
2019     381.079
2018     346.543
2017     344.974
2015     340.720
2014     297.637
2010     297.335
2007     276.637
2013     254.494
1998     254.046
2009     246.089
2002     242.187
2012     241.063
2006     238.915
2005     231.841
2011     224.019
2003     222.818
2001     217.859
2008     216.156
2004     208.231
1999     195.497
2000     175.033
1995     166.041
1994     150.674
1990     140.449
1997     139.662
1988     116.439
1991      90.755
1987      89.973
1983      83.613
1996      79.879
1989      64.929
1992      60.599
1980      60.201
1973      59.495
1993      56.884
1979      53.697
1981      47.567
1961      41.705
1977      40.693
1982      40.297
1986      37.451
1969      28.829
1966      24.446
1984      22.562
1970      19.347
1978      14.635
1985      14.224
1975      -0.642
1962      -5.604
1963      -6.920
1972     -16.764
1964     -25.661
1967     -26.538
1974     -38.408
1971     -45.225
1968     -49.023
1976     -58.562
1965     -62.203

In [89]:
df_c = data2.groupby(
   ['Country Name',]
).agg(
    {
        'tem_change':'mean', 
        
    }
)
df_c

                tem_change
Country Name
Afghanistan       0.432322
Africa            0.491475
Albania           0.485492
Algeria           0.711153
American Samoa    0.425593
...                    ...
World             0.523542
Yemen             0.075593
Yugoslav SFR      0.018593
Zambia            0.451712
Zimbabwe          0.284644

[284 rows x 1 columns]

In [90]:
df_c.reset_index(inplace = True)
df_c = df_c.sort_values(by=['tem_change'],ascending=False).head(10)

In [91]:
df_c

                       Country Name  tem_change
162                        Mongolia    0.853729
244  Svalbard and Jan Mayen Islands    0.847881
98                           Gambia    0.821237
165                         Morocco    0.801932
109                   Guinea-Bissau    0.801525
255                         Tunisia    0.794034
152                      Mauritania    0.760424
77                   Eastern Europe    0.757441
18                          Austria    0.748559
220                         Senegal    0.739119

In [92]:
fig = px.bar(df_c, x="Country Name", y='tem_change' ,text='tem_change', title="Top ten countries that have highest temperature change in the last decades")
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(
    autosize=False,
    width=1000,
    height=600,
    margin=dict(
        l=50,
        r=50,
        b=100,
        t=100,
        pad=4
    ),
  
    template='seaborn',
    paper_bgcolor="rgb(234, 234, 242)",
    legend=dict(
        orientation="v",
        yanchor="bottom",
        y=0.3,
        xanchor="left",
        x=1.02
))
fig.update_xaxes( tickangle = 10,
        title_text = "Countries",
        title_font = {"size": 15},
        title_standoff = 0)
fig.update_yaxes(showticklabels=False,tickmode="auto", title='Temperature Change',title_standoff = 0)

fig.show()